body{
    margin: 0px;
    padding: 0px;
    animation: fadein 2s;
    background-image:url(./interests.jpg);
    background-position: right;
    background-size:cover;
       
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }

}
.title{
    text-align: center;
    margin-top: 20px;
}
.content{
     font-size: 25px;
     margin-top: 150px;
     margin-left: 50px;
}